{% extends "base.html" %}
{% block title %}Chat{% endblock title %}
{% block head %}
    <!-- ========== HEADER SECTION ========== -->
    <section id="home" name="home"></section>
    <div id="headerwrap">
        <div class="container">
            {% include "menu.html" %}
          <iframe width="100%" height="600px" src='http://webchat.esper.net/?nick=webuser...&channels=L,WP&prompt=1'frameborder='no' style="padding-top:50px;"></iframe>
        </div><!-- /container -->
    </div><!-- /headerwrap -->
{% endblock head %}